@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.animate-textMove {
  animation: textMove 8s infinite alternate-reverse ease-in-out;
  width: 20px;
}


@keyframes textMove {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}
